header {
    background-image: radial-gradient(circle at -18.3% 68.3%, #1f3259 0, #1f3259 50%, #1f3259 100%);    height: 20vh;
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
    padding: 0 10% 0 10%;
}
header>div {
    color: rgb(238, 255, 234) !important;
    text-shadow: 1px 1px 5px black;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
header>div>h3 {
    color: rgb(238, 255, 234) !important;
    background-color: transparent !important;
}
.portada-pic {
    display: flex;
    width: 15%;
}
.portada-pic>img {
    width: 100%;
}
main {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
h2, h3, h4{
    background-color: #1f3259;
    height: 6vh;
    border-radius: 15px;
    padding: 0 2%;
    color: white !important;
}
.creditCard-pic {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    max-width: 0;
    right: -300px; 
    top: 50px; 
    opacity: 0; 
    transition: opacity 0.5s ease, right 0.5s ease;
}
.creditCard-img {
    width: 100%;
}
.creditCard-pic.activo {
    right: 20px; 
    max-width: 250px;
    opacity: 1; 
}
#resumen {
    padding: 2%;
    border: 2px solid;
}
footer {
    margin-top: 10vh;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0)), url(airplane.jpg);
    background-size: cover;
    background-position-y: 26%;
    width: 100%;
    height: 40vh;
    display: flex;
}
footer>div {
    margin-left: 54%;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}
footer>div>h2 {
    font-size: 34px;
    display: flex;
    align-items: center;
    color: #1f3259 !important;
    background-color: transparent !important;
}
button {
    background-color: #F05454 !important;
    display: flex;
    align-items: center;
    width: 125px;
    height: 8vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
button:hover {
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
}

@keyframes hide {
    0% {
        right: 20px;
    }
    100% {
        right: -400px;
    }
}

@media (max-width: 720px) {
    main {
        margin: 0 4%;
    }
    footer>div>h2 {
        color: white !important;
    }
    footer>div {
        margin-left: 4%;
        margin-top: 30%;
        justify-content: center;
    }
    header {
        text-align: center;
        flex-direction: column;
        padding-top: 5%;
        justify-content: center;
    }
    header>div {
        justify-content: center;
    }
}